.block{
    &-intro{
        background-color: $white;
        padding: 20px;
        position: relative;
        transition: all .3s ease;
        height: 100%;
        &:hover{
            background-color: $gray-100;
        }
        @include media-breakpoint-down(sm){
            padding: 15px;
        }
        &__icon{
            height: 60px;
            width: 60px;
            flex: 0 0 60px;
            margin-right: 15px;
            position: relative;
            background-color: $dark;
            border-radius: $border-radius;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 75%;
                width: 75%;
                object-fit: contain
            }
        }
        &__content{
            strong{
                @include font-size(15px);
            }
            p{
                @include font-size(13px);
                line-height: 20px;
            }
        }
    }
    &-post{
        position: relative;
        &:hover{
            .block-post__media{
                img{
                    transform: scale(1.05);

                }
            }
        }
        &__media{
            height: 200px;
            width: 100%;
            position: relative;
            overflow: hidden;
            border-radius: $border-radius;
            img{
                @include img-abs-center();
                transition: transform 1.3s ease;
                border-radius: $border-radius;
            }
        }
        &__content{
            padding: 15px 7px;
        }
    }
    &-nieuws{
        position: relative;
        &:hover{
            .block-nieuws__media{
                img{
                    transform: scale(1.05);

                }
            }
        }
        &__media{
            height: 200px;
            width: 100%;
            position: relative;
            overflow: hidden;
            border-radius: $border-radius;
            img{
                @include img-abs-center();
                transition: transform 1.3s ease;
                border-radius: $border-radius;
            }
        }
        &__content{
            padding: 15px 7px;
            
        }
        &__cat{
            @include font-size(11px);
            display: block;
            margin: 0;
            text-transform: uppercase;
        }
    }
    &-review{
        background-color: $white;
        padding: 25px 20px;
        box-shadow: 0 13px 30px rgba($dark, 0.15);
        border-radius: $border-radius;
        &__header{
            strong{
                font-weight: bold;
                @include font-size(15px);
            }
            ul{
                @include reset-list();
                display: flex;
                gap: 1px;
                li{    
                    @include font-size(14px);
                    i{
                        color: $yellow;
                    
                    }
                }
                strong{
                    display: block;
                    margin-left: 3px;
                    @include font-size(12px);
                    &:after{
                        content: '/10';
                        font-weight: normal;
                    }
                }
               
            }
        }
        &__content{
            p{
                @include font-size(14px);
                line-height: 25px;
                @include dot-this(3 , 14, 25);
            }
        }
    }
    &-oplossing{
        border: 1px solid $gray-100;
        padding: 20px 30px;
        height: 100%;
        p{
            @include font-size(14px);
        }
        ul{
            @include reset-list();
            li{
                position: relative;
                padding-left: 15px;
                &:before{
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: '\f105';
                    font-family: 'Font Awesome 6 Pro';
                    color: $primary;
                }
                &:not(:last-child){
                    margin-bottom: 5px;
                }
                a{
                    text-decoration: none;
                }
            }
        }
        &.--isoleren{
            ul >  li:before{
                 color: $primary;
            } 
            .btn{
                 background-color: $primary;
                 color: $white;
            }
        }
        &.--opwekken{
            ul >  li:before{
                 color: $yellow;
            } 
            .btn{
                 background-color: $yellow;
                 color: $white;
            }
        }
        &.--verbruiken{
            ul >  li:before{
                 color: $secondary;
            } 
            .btn{
                 background-color: $secondary;
                 color: $white;
            }
        }
    }
    &-acties{
        border: 1px solid $gray-100;
        border-radius: $border-radius;
        padding: 10px;
        @include media-breakpoint-down(lg){
            padding: 5px;
        }
        &__media{
            flex: 0 0 275px;
            position: relative;
            @include media-breakpoint-down(lg){
                flex: 0 0 200px;
            }
            img{
                @include img-abs-center(contain, center);
            }
        }
        &__label{
            // display: inline;
            position: relative;
            transform: rotate(-3deg);
            color: $white;
            display: inline-block;
            @include media-breakpoint-down(lg){
                @include font-size(14px);
            }
            &:after{
                // transform: rotate(-3deg);
                background-color: $primary;
                position: absolute;
                top: -2px;
                left: -5px;
                width: calc(100% + 10px);
                height: calc(100% + 5px);
                content: '';
                z-index: -1;
            }
        }
        &__content{
            padding: 30px 20px;
            @include font-size(15px);
            ul{
                @include reset-list();
                margin: 15px 0;
                li{
                    position: relative;
                    padding-left: 35px;
                    &:not(:last-child){
                        margin-bottom: 8px;
                    }
                    span{
                        position: absolute;
                        left: 0;
                        top: 3px;
                        width: 25px;
                        height: 25px;
                        content: '';
                        background-color: $secondary;
                        color: $white;
                        text-align: center;
                        line-height: 25px;
                        border-radius: 25px;
                    }
                    p{
                        margin: 0;
                    }
                }
            }
        }
        .btns{
            gap: 15px;
            display: flex;
            a{
                font-weight: medium;
            }
        }
    }
    &-number{
        padding: 30px 40px;
        background-color: $secondary;
        text-align: center;
        height: 100%;
        span{
            @include font-size(36px);
            font-weight: bold;
            color: $white;
            display: block;
        }
        small{
            color: $white;
        }
    }
    &-adviseur{
        position: relative;
        &__media{
            padding-bottom: 100%;
            position: relative;
            img{
                @include img-abs-center();
            }
            &.--contain{
                background-color: $dark;
                img{
                    object-fit: contain;
                    height: 100%;
                    object-position: bottom;
                    bottom: 0;
                    top: unset;
                }
            }
        }
        &__content{
            strong{
                position: absolute;
                bottom: 12px;
                left: 12px;
                background-color: $white;
                padding: 0 20px;
                line-height: 36px;
                height: 36px;
                text-align: center;
                @include font-size(14px);
                display: block;
            }
        }
    }
    &-ervaring{
        &--slider{
            height: 100%;
            .block-ervaring{
                &__ondertitel{
                    @include font-size(14px);
                }
            }
            .display-5{
                min-height: calc(21px * 2)
            }
            .dot-this{
                @include dot-this(3 , 14, 25);
            }
        }
        &__media{
            padding-bottom: 50%;
            background-color: $gray-200;
            position: relative;
            img{
                @include img-abs-center(cover, center)
            }
        }
        &:not(.has-media){
            .block-ervaring{
                &__content{
                    border-radius: 8px 8px 0 0;
                }
            }
        }
        &__content{
            background-color: $white;
            padding: 25px 20px 5px 20px;
            p{
                @include font-size(14px);
                margin: 15px 0;
            }
        }
        &__footer{
            background-color: $gray-200;
            padding: 10px 20px;
            border-radius: 0 0 8px 8px;
            gap: 4px;
            strong{
                display: block;
            }
            i{
                @include font-size(14px);
            }
        }
        &__stars{
            gap: 4px;
            i{
                color: $yellow;
                @include font-size(14px);
            }
        }
    }
    &-service{
        border-radius: 8px;
        overflow: hidden;
        &__media{
            padding-bottom: 50%;
            position: relative;
            img{
                @include img-abs-center(cover, center)
            }
        }
        &__content{
            background-color: $gray-100;
            padding: 12px 18px;
            @include font-size(15px);
        }
    }
    &-kozijn{
        padding: 12px;
        border: 1px solid $gray-100;
        transition: all .3s ease;
        border-radius: 8px;
        &:hover{
            background-color: $gray-100;
        }
        &__media{
            padding-bottom: 100%;
            img{
                height: 75%;
                width: 75%;
                object-fit: contain;
                top: 20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__title{
            @include font-size(17px);
            font-weight: bold;
        }
    }
    &-frame{
        background-color: $gray-100;
        padding-bottom: 12px;
        border-radius: $border-radius-lg;
        &__media{
            padding-bottom: 100%;
            @include media-breakpoint-down(sm){
                padding-bottom: 75%;
                margin-bottom: 12px;
            }
            img{
                height: 75%;
                width: 75%;
                object-fit: contain;
                top: 20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__title{
            display: block;
            margin-left: 12px;
            margin-top: 12px;
            @include media-breakpoint-down(sm){
                margin-left: 0;
                padding-top: 12px;
                text-align: center;
                width: 100%;
            }
        }
    }
    &-product{
        padding: 20px 14px;
        height: 100%;
        background-color: $white;
        border-radius: 12px;
        @include font-size(14px);
        &__media{
            height: 200px;
            img{
                object-fit: contain;
            }
        }
        .btn{
            line-height: 40px;
            height: 40px;
            padding: 0 16px;
        }
    }
    &.slick-slide{
        height: 100%;
    }
}

.author{
    &__media{
        height: 75px;
        width: 75px;
        position: relative;
        border-radius: 50%;
        margin-right: 15px;
        img{
            border-radius: 50%;
            @include img-abs-center();
        }
    }
    &__content{
        strong{
            line-height: 1;
        }
        ul{
            margin: 0;
        }
    }
    &--alt{
        .author{
            &__media{
                height: 300px;
                width: 100%;
                margin-bottom: 20px;
                img{
                    border-radius: unset;
                }
                @include media-breakpoint-down(xl){
                    height: 200px;
                    width: 250px;
                }
                @include media-breakpoint-down(md){
                    height: 150px;
                    width: 200px;
                }
            }
            &__content{
                p, small{
                    line-height: 1;
                    margin: 0;
                }
                >.d-flex{
                    @include media-breakpoint-down(xl){
                        margin-top: 10px;
                    }
                }
                small{
                    display: block;
                    @include font-size(14px);
                    margin-top: 1px;
                }
            }
        }
    }
}

.advies-block{
    background-color: $dark;
    padding: 20px 15px;
    color: $white!important;
    a{
        color: $white
    }
}

.company-usps{
    li{
        padding-left: 20px;
        position: relative;
        &:not(:last-child){
            margin-bottom: 5px;
            @include media-breakpoint-down(lg){
                margin-bottom: 0;
            }
        }
        i{
            margin-right: 3px;
            @include font-size(15px);
            position: absolute;
            top: 7px;
            left: 0;
        }
    }
    .--bg{
        background-color: rgba(109, 158, 57, 0.1);
        border-radius: 8px;
        margin: 0 auto;
        height: 100%;
        padding: 5px 5px 5px 25px;
        i{
            top: 12px;
            left: 5px;
        }
        font-size: 14px
    }
}

.advice-usps{
    @include font-size(14.5px);
}

.kozijn-hero {
    border: 1px solid $gray-100;
    border-radius: 12px;
    height: 100%;
    background-color: $gray-100;
    @include media-breakpoint-down(lg){
        height: 350px;
    }
    @include media-breakpoint-down(md){
        height: 300px;
    }
    @include media-breakpoint-down(sm){
        height: 250px;
    }
    img{
        height: 75%;
        width: 75%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: contain;
    }
}

.slick-height-fix{
    .slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

}