.breadcrumbs{
    color: $white;
    @include font-size(14px);
    a{
        color: $white;
        @include font-size(14px);
    }
    &.--dark{
        color: $dark;
        a{
            color: $dark
        }
    }
}