/* purgecss ignore current */
.wpcf7 {
	// max-width: 600px;
	margin: 0 auto !important;

	// all inputs except radios and checkboxes inherit from form-control
	input[type=text],
	input[type=search],
	input[type=url],
	input[type=tel],
	input[type=number],
	input[type=range],
	input[type=date],
	input[type=month],
	input[type=week],
	input[type=time],
	input[type=datetime],
	input[type=datetime-local],
	input[type=color],
	input[type=email],
	input[type=file],
	input[type=submit],
	select,
	textarea {
		@extend .form-control;
	}

	textarea {
		height: 200px !important;
	}

	// submit button, inherit .btn and .btn-outline-primary classes.
	input[type=submit] {
		@extend .btn;
		@extend .btn-secondary;
		//   background-color: $secondary;
		color: $white;
		width: auto;
		margin: 0 auto;
		text-align: right;
		display: block;
	}

	.wpcf7-form {
		p {
			// @extend .form-group;
		}
		label {
			margin: 0;
			width: 100%;
		}
	}

	// not valid tip for each control
	.wpcf7-not-valid-tip {
		color: theme-color("danger");
	}

	// validation errors ourput bottom of form
	.wpcf7-validation-errors {
		@extend .form-control;
		color: theme-color("danger");
		border: 1px solid $gray-200;
	}
}

.wpcf7-form-control-wrap {
	display: contents;
}

.form-floating {
	textarea.form-control {
		height: 125px;
		resize: none;
	}

	>label {
		left: 2px;
		top: -2px;
		white-space: nowrap;
	}
}

.form--dark {
	color: $white;

	span {
		color: $white;
	}

	input,
	textarea {
		color: $white !important;
		background-color: transparent !important;
		border: 1px solid $white;
	}

	label {
		color: $white;
	}

	.btn-primary {
		background-color: $secondary !important;
		color: $white !important;
	}

}

.form--blue {
	.btn-primary {
		border: 1px solid white;
		color: $blue !important;
	}
}

.invalid {
	.wpcf7-validates-as-required {
		border: 1px solid $red !important;
	}
}

.wpcf7-spinner{
	display: none;
}

.submitted{
    .wpcf7-spinner{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.wpcf7-checkbox{
    gap: 0 30px;
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(md){
        gap: 0 20px;
    }
    @media screen and (max-width: 425px) {
        display: block;
        .wpcf7-list-item{
            width: 100%;
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
    }
    .wpcf7-list-item{
        margin: 0;
        label{

            align-items: center;
            display: flex;
        }

    }
    input[type=checkbox]{
        height: 15px;
        width: 15px;
        margin-right: 5px;
        &:checked:before{
            background-color:green;
        }
    }
}

.checkbox-wrapper{
    background-color: $white;
    padding: 15px;
    margin-bottom: 20px;
    strong{
        @media screen and (max-width: 425px) {
            @include font-size(14px);
            line-height: 20px;
            display: block;
            margin-bottom: 5px;
        }
    }
}

/*! purgecss end ignore */

