.cro-header {
    padding: 248px 0 50px 0;
    position: relative;
    @include media-breakpoint-down(lg) {
        padding: 148px 0 464px 0;
    }
    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $dark;
        opacity: 0.5;
        content: "";
        @include media-breakpoint-down(xl) {
            opacity: 0.7;
        }
    }
    .container {
        position: relative;
        z-index: 1;
    }
}

.aside {
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 265px;
    width: 100%;
    z-index: 500;
    @include media-breakpoint-down(lg) {
        top: 204px !important;
    }
    &.--alt{
       .aside-block{
        background-color: $gray-100;
       }
    }
    &-block {
        border-radius: 0 0 $border-radius-lg 0;
        background-color: $white;
    }
    .home-hero__content {
        pointer-events: initial;
        border-radius: 0 0 $border-radius-lg 0;
    }
}

.builder {
    &-row {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}

main{
    position: relative;
}