.whatsapp{
    &-hero{
        background-color: $gray-100;
        padding: 150px 0 75px 0;
        @include media-breakpoint-down(xxl){
            padding: 100px 0 50px 0;
        }
        @include media-breakpoint-down(md){
            padding: 75px 0 50px 0;
        }
        &__title{
            @include font-size(52px);
            color: $dark;
            @include media-breakpoint-down(xxl){
                @include font-size(42px);
            }
        }
        .lead{
            @include media-breakpoint-down(xxl){
                @include font-size(16px);
            }
        }
        &__media{
            position: relative;
            height: 120%;
            width: 100%;
            margin-top: -60px;
            img{
                @include img-abs-center();
                object-fit: contain;
            }
        }
    }
    &-usps{
        &__usp{
            padding-left: 60px;
            position: relative;
            padding-right: 25px;
            @include font-size(16.5px);

        }
        i{
            height: 42px;
            width: 42px;
            line-height: 42px;
            text-align: center;
            background-color: $secondary;
            border-radius: 42px;
            color: $white;
            margin-right: 10px;
            position: absolute;
            left: 3px;
            top: 2px;
        }

    }
    &-intro {
        &__title {
            @include font-size(42px);
            color: $dark;
            @include media-breakpoint-down(md){
                @include font-size(32px);
            }
            @include media-breakpoint-down(sm){
                @include font-size(26px);
            }
        }
    }
}